<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyOrganizer">

        <!-- MainActivity is the entry point of the application -->
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyOrganizer"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">

            <!-- Launch this activity when the app is started -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Expense List Activity -->
        <activity
            android:name=".activities.ExpenseListActivity"
            android:label="Expense List"
            android:theme="@style/Theme.MyOrganizer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <!-- To-Do List Activity -->
        <activity
            android:name=".activities.ToDoListActivity"
            android:label="To-Do List"
            android:theme="@style/Theme.MyOrganizer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <!-- Add/Edit Expense Activity -->
        <activity
            android:name=".activities.AddEditExpenseActivity"
            android:label="Add/Edit Expense"
            android:theme="@style/Theme.MyOrganizer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <!-- Add/Edit To-Do Activity -->
        <activity
            android:name=".activities.AddEditToDoActivity"
            android:label="Add/Edit To-Do"
            android:theme="@style/Theme.MyOrganizer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
